<div class='panel panel-primary'>
  <div class='panel-heading'>
    {{pageTitle}}
  </div>
  <div class='container_departments'>
    <ul class = "departments">
      <label>Department name:</label> <input #departmentName />
      <button (click)="add(departmentName.value); departmentName.value=''">Add</button>
      <button class='btn btn-origin'
          (click)="add(departmentName.value); departmentName.value=''">
          Add Department
      </button>
      <li *ngFor="let department of departments" (click)="onSelect(department)"
        [class.selected]="department === selectedDepartment">
        <span class="badge">{{department.id}}</span>
        <span><a [routerLink] = "['/department', department.id]">{{department.name}}</a></span>
      </li>
    </ul>
  </div>
</div>
